In [21]:
a={1,2,3,4}

In [22]:
a

{1, 2, 3, 4}

In [23]:
a.add('5')

In [24]:
a

{1, 2, 3, 4, '5'}

In [25]:
a.add('s')

In [26]:
a

{1, 2, 3, 4, '5', 's'}

In [7]:
#add function is used to add a new string or an integer to the previous assigned set

In [34]:
#clear function is used to clear all the values in the set

In [35]:
a.copy()

{1, 2, 3, 4, '5', 's'}

In [36]:
a

{1, 2, 3, 4, '5', 's'}

In [56]:
a={1,2,3,4}
b={4,5,2,1}

In [57]:
a.difference(b)

{3}

In [58]:
b.difference(a)

{5}

In [59]:
#difference operation is used to find the difference between the two set as like the ven diagram the intersection of the two set is done here

In [60]:
a.difference_update(b)

In [61]:
a

{3}

In [66]:
b.difference_update(a)

In [67]:
b

{1, 2, 4, 5}

In [70]:
#the difference update operation is used to update the differenced set in the previous programs

In [78]:
a={1,2,3,4}

In [79]:
a

{1, 2, 3, 4}

In [80]:
a.discard(3)

In [81]:
a

{1, 2, 4}

In [82]:
a.discard(4)

In [83]:
a

{1, 2}

In [84]:
#discard operation is used to remove the string or the value in the assigned set the function is be call by us!!

In [87]:
a={1,2,3,4}
b={4,5,1,7}

In [88]:
a.intersection(b)

{1, 4}

In [89]:
b.intersection(a)

{1, 4}

In [90]:
#intersection is used to intersect the two sets a and b and give the output as the intersected values

In [91]:
a.intersection_update(b)

In [92]:
a

{1, 4}

In [93]:
#here intersection update is as same as like the difference update it will update the changes that done by us

In [94]:
a={1,2,3,4}
b={4,5,1,9}

In [95]:
a.isdisjoint(b)

False

In [96]:
a={1,2,3}
b={4,5,6}

In [97]:
a.isdisjoint(b)

True

In [98]:
#the isdisjoint function is used to return the true or false between the two sets by finding no intersection values that are be placed between the two sets

In [99]:
a={1,2,3,4}
b={1,2,6,8}

In [100]:
a.issubset(b)

False

In [101]:
a={1,2,3,4}
b={1,2,3,4}

In [102]:
a.issubset(b)

True

In [103]:
b.issubset(a)

True

In [104]:
#the issubset function is used to find wheather any set is been repeated with the another set

In [108]:
a={1,2,3,4}
b={1,2,3,4}

In [109]:
a.issuperset(b)

True

In [110]:
a={1,2,3,4}
b={1,2,6,8}

In [111]:
a.issuperset(b)

False

In [112]:
#the issuperset function is used to find any repeated set that have more than two sets which are repeated is known as the issuperset

In [125]:
a={1,2,3,4}
b={1,2,6,8}

In [127]:
a.pop()

2

In [128]:
#cant understand the pop function

In [129]:
a={1,2,3,4,5}
b={1,5,6,3,7}

In [130]:
b.remove(1)

In [131]:
b

{3, 5, 6, 7}

In [132]:
b.remove(7)

In [133]:
b

{3, 5, 6}

In [135]:
a.remove(5)

In [136]:
a

{1, 2, 3, 4}

In [137]:
a.remove(2)

In [138]:
a

{1, 3, 4}

In [143]:
a={1,2,3,7}
b={3,5,7}

In [144]:
a.symmetric_difference(b)

{1, 2, 5}

In [146]:
b.symmetric_difference(a)

{1, 2, 5}

In [151]:
#symmetric difference function is used to find the same values in the both set and tries to remove the value and output the balance values as the ouput

In [148]:
a.symmetric_difference_update(b)

In [149]:
a

{1, 2, 5}

In [150]:
#symmetric difference update is used as same as the intersection update and the difference update

In [152]:
a.union(b)

{1, 2, 3, 5, 7}

In [153]:
#union function is used to mingle all the values in the set as the single set

In [155]:
a.update(b)

In [156]:
a

{1, 2, 3, 5, 7}

In [157]:
#update function is tries to update the previous functions that have been done by a and b particularly